.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box4 box5 box6"
    "box1 box7 box7 box7";

    gap: 2rem;
}

.item{
    padding: 2rem;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}
